@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;600&family=Montserrat:wght@100;300;400;500;700&display=swap');

:root {
    --prm-clr: #fc590c;
    --accent-clr: #0056ff;
    --prm-gradient: linear-gradient(25deg, rgba(252, 89, 12, 1) 0%, rgba(247, 147, 30, 1) 100%);
    --carousel-clr-1: #ff0000;
    --carousel-clr-2: #8cff00;
    --carousel-clr-3: #0056ff;
    --carousel-img-1: url("../images/background-1.webp");
    --carousel-img-2: url("../images/rut-miit-hpRGrfOIybc-unsplash.webp");
    --carousel-img-3: url("../images/moren-hsu-VLaKsTkmVhk-unsplash.webp");
    --method-img-1: url(../images/nguyen-dang-hoang-nhu-FrzGKG2Yvpw-unsplash.webp);
    --method-img-2: url(../images/matt-ragland-02z1I7gv4ao-unsplash.webp);
    --method-img-3: url(../images/towfiqu-barbhuiya-5u6bz2tYhX8-unsplash.webp);
    --h-font: 600 1rem "Lexend", sans-serif;
    --t-font: 500 1rem "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

h1,
h2,
h3,
h4,
h5 {
    font: var(--h-font);
}

div,
p,
span {
    font: var(--t-font);
}

body {
    background-color: #ddd;
    overflow-x: hidden;
    min-height: 100%;
}

.desktop-only {
    display: none !important;
}

header {
    min-height: 2.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Lexend", sans-serif;
    font-weight: 600;

    background-color: #fff;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.459);
    z-index: 5;
}

#logo {
    position: absolute;
    width: 4rem;
    top: .5rem;
    left: .5rem;
}

#logo img {
    width: 4rem;
}

/*  ---------------------------------------------------------------------------------  Hamburger Menu */

#nav {
    z-index: 9;
}

/* Hamburger Menu Button */
.hamburger-menu-button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    color: #fff;
    background-color: var(--accent-clr);
    box-shadow: 0 0 0 4px rgba(0, 86, 255, .3);
    border: none;
    border-radius: 50%;

    transition: .2s ease-in;
    cursor: pointer;
    z-index: 2;
}

.hamburger-menu-button:focus {
    outline: 0
}

.hamburger-menu-button:hover,
.hamburger-menu-button:focus {
    box-shadow: 0 0 0 8px rgba(0, 86, 255, .3);
    background-color: var(--accent-clr);
}


.menu-icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20px;
    height: 20px;

    border-radius: 2px;

    cursor: pointer;
    transition: transform 330ms ease-out;
}

.menu-icon-line {
    width: 100%;
    height: 2px;

    background-color: #fff;
    border-radius: 2px;
}

.menu-icon-line.half {
    width: 50%;
}

.menu-icon-line.first {
    transition: transform 300ms cubic-bezier(0.52, -0.80, 0.52, 0.52);
    transform-origin: right;
}

.menu-icon-line.last {
    align-self: flex-end;
    transition: transform 300ms cubic-bezier(0.52, -0.80, 0.52, 0.52);
    transform-origin: left;
}

.nav-links-container {
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
}

.nav-links-container.active .hamburger-menu-list {
    opacity: 1;
    transform: scale(1);
}

.nav-links-container.active .hamburger-menu-item {
    animation: fadeInItem .6s .2s forwards;
}

.nav-links-container.active .hamburger-menu-item:nth-child(2) {
    animation-delay: .4s;
}

.nav-links-container.active .hamburger-menu-item:nth-child(3) {
    animation-delay: .6s;
}

.nav-links-container.active .hamburger-menu-item:nth-child(4) {
    animation-delay: .8s;
}

.nav-links-container.active .hamburger-menu-button {
    animation: onePulse .6s forwards linear;
}

.nav-links-container.active .menu-icon-wrapper {
    transform: rotate(-45deg);
}

.nav-links-container.active .menu-icon-line.first {
    transform: rotate(-90deg) translateX(1px);
}

.nav-links-container.active .menu-icon-line.last {
    transform: rotate(-90deg) translateX(-1px);
}

.hamburger-menu-list {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px rgba(252, 88, 12, 0.4);

    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: all .3s ease .1s;
    list-style: none;
    overflow: hidden;
}

.hamburger-menu-list a {
    text-decoration: none;
    color: unset;
}

.hamburger-menu-item {
    position: relative;

    width: 12rem;
    display: flex;
    align-items: center;

    padding: 10px;
    border-radius: 4px;

    font-size: 1.2rem;
    color: var(--prm-clr);

    cursor: pointer;
    transition: .2s ease-in;
    transform: translateX(-10px);
    opacity: 0;
}

.hamburger-menu-item:hover {
    color: #fff;
    background-color: var(--prm-clr);
}

.hamburger-menu-item::after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 24px);
    left: 12px;
    bottom: 0;
    background-color: rgba(132, 160, 244, 0.1);
}

.hamburger-menu-item:last-child::after {
    display: none;
}

/* --------------------------------------------------------------------------------- Carousel */
#carousel {
    min-height: 16rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 0;
}

.carousel-tabs {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: .2rem;
}

.tab {
    width: calc(99vw / 3);
    margin-right: -.2rem;
    height: 4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: opacity(.5);
    cursor: pointer;
}

.tab.active {
    transform: translateY(-.3rem);
    filter: none;
    z-index: 2;
}

.tab-1 {
    background-color: var(--carousel-clr-1);
    z-index: 2;
}

.tab-2 {
    background-color: var(--carousel-clr-2);
    z-index: 1;
}

.tab-3 {
    background-color: var(--carousel-clr-3);
}

.carousel-slides {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.carousel-slide {
    display: none;
    position: absolute;
    left: -9.8rem;
    width: 98vw;
    height: 15rem;

    color: white;

    border: 3px solid #fff;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -1.5rem;
    margin-bottom: -1rem;
    overflow: hidden;
}

.carousel-slide.active {
    display: initial;
}

.slide-1 {
    background-image: var(--carousel-img-1);
    border: 3px solid var(--carousel-clr-1);
}

.slide-1::before {
    content: '';
    background: linear-gradient(0deg, rgba(252, 12, 12, 1) 0%, rgba(252, 12, 12, 0.70) 75%, rgba(255, 255, 255, 0) 100%);
    width: 130%;
    height: 130%;
    position: absolute;
    transform: rotate(21deg);
    top: 0%;
    left: -20%;
}

.slide-2 {
    border: 3px solid var(--carousel-clr-2);
    background-image: var(--carousel-img-2);
}

.slide-2::before {
    content: '';
    background: linear-gradient(0deg, rgba(107, 197, 0, 1) 0%, rgba(107, 197, 0, 0.70) 75%, rgba(107, 197, 0, 0) 100%);
    width: 130%;
    height: 130%;
    position: absolute;
    transform: rotate(21deg);
    top: 0%;
    left: -20%;
}

.slide-3 {
    border: 3px solid var(--carousel-clr-3);
    background-image: var(--carousel-img-3);
}

.slide-3::before {
    content: '';
    background: linear-gradient(0deg, rgba(0, 86, 255, 1) 0%, rgba(0, 86, 255, 0.70) 75%, rgba(0, 86, 255, 0) 100%);
    width: 130%;
    height: 130%;
    position: absolute;
    transform: rotate(21deg);
    top: 0%;
    left: -20%;
}

.carousel-slide h2,
.carousel-slide p {
    position: absolute;
    line-height: 108%;
}

.carousel-slide h2 {
    left: 1rem;
    top: 40%;
    font-size: 1.8rem;
}

.carousel-slide p {
    bottom: 1rem;
    left: 1rem;
    font-size: 1.3rem;
}

/*  ---------------------------------------------------------------------------------  Methodology */

#methodology {
    background-color: var(--prm-clr);
    margin: 0 .2rem 2rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(88, 88, 88, 0.459),
        0 2px 5px rgba(88, 88, 88, 0.459);
    border-radius: 20px;

    color: white;
}

#methodology h2 {
    font-size: 1.75rem;
    text-align: center;
}

.method {
    position: relative;
    height: 15rem;
    display: flex;
    border-radius: 20px;
    margin: 1rem 0;

    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

.method-cover {
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    margin: 1rem -.5rem;
    padding: .5rem 2rem;
    border-radius: 0 20px 20px 0;

    background: var(--prm-clr);
}

.method-cover h3 {
    font-size: 1.5rem;
}

.method-cover p {
    font-size: 1.25rem;
}

.method-1 {
    background-image: var(--method-img-1);
}

.method-2 {
    background-image: var(--method-img-2);
}

.method-3 {
    background-image: var(--method-img-3);
}

.method-info {
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 20px;
    opacity: 0;
}

.method.active .method-info {
    opacity: 1;
    /* z-index added due to issue with text above method-image-text getting darkened */
    z-index: 1;
}

.method.active .method-cover {
    filter: blur(4px);
}

/* --------------------------------------------------------------------------------- QUIZ */
.quiz-start-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% + 1.5rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
    background-color: rgba(0, 0, 0, 0.45);
}

.quiz-start-container.active {
    display: none;
}

.quiz-start-container.active~.quiz-container {
    filter: none;
}

.quiz-start-box {
    width: 70%;
    min-height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.25),
        0px -2px 12px 4px rgba(0, 0, 0, 0.25);
    ;
}

.quiz-start-box>* {
    margin: 1rem 1rem;
}

.quiz-start-box button {
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: none;
    background: var(--prm-gradient);
    box-shadow: 1px 1px 5px rgb(105, 105, 105);
    color: white;
    font-family: var(--h-font);
    font-size: 1.5rem;
    font-weight: bolder;
}

button:disabled {
    background: rgb(125, 125, 125);
}

.quiz-start-box table {
    border-collapse: separate;
    border-spacing: 10px;
}

.quiz-container {
    position: relative;
    height: 90vh;
    margin: 2.5rem 0;
    filter: blur(20px);

    overflow: hidden;
}

#countdown {
    position: absolute;
    top: 33%;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.8) 50%, transparent 100%);
}

.num {
    color: #eee;
    font-family: var(--h-font);
    font-size: 5.5rem;
    font-weight: bolder;
    text-align: center;

    animation: count 0.1s cubic-bezier(0.1, 0.1, 1, 1);
    text-shadow: -3px -3px var(--prm-clr), 3px 3px var(--accent-clr);
}

.num.hide {
    transform-origin: 50% 50%;
    animation: hideCountdown .5s 1s ease-out forwards;
}

.hud {
    z-index: 1;
}

.question-counter {
    margin-left: .5rem;
}

.timer {
    position: absolute;
    top: 0;
    right: 0;

    width: 3rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bolder;
}

.score {
    position: absolute;
    top: 4%;
    left: 39%;
}

.multiplier {
    position: absolute;
    top: 0;
    right: 33%;
}

.question {
    position: relative;
    width: 90%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem auto 1rem;
    padding: 0 1rem 0 1.5rem;

    font-size: 1.15rem;

    background-image: url(../images/printable-lined-paper-college-ruled.webp);
    background-position: 5% 45%;
    background-color: white;

    box-shadow: 1px 1px 2px rgb(105, 105, 105);

    border: 1px solid rgb(125, 125, 125);
}

.question::after {
    content: '';

    position: absolute;
    top: -.25rem;
    left: .20rem;

    height: 100%;
    width: calc(100% + 1px);

    border: 1px solid rgb(125, 125, 125);
    box-shadow: 1px 1px 2px rgb(105, 105, 105);

    background-image: url(../images/printable-lined-paper-college-ruled.webp);
    background-color: white;

    z-index: -1;
}

.question::before {
    content: '';

    position: absolute;
    top: -.455rem;
    left: .425rem;

    height: 100%;
    width: 100%;

    background-image: url(../images/printable-lined-paper-college-ruled.webp);
    background-color: white;

    border: 1px solid rgb(125, 125, 125);
    box-shadow: 1px 1px 2px rgb(105, 105, 105);

    z-index: -1;
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;
}

.answer {
    position: relative;
    width: 21rem;
    height: 3.5rem;

    margin: .25rem -2.5rem .25rem 0;

    background: var(--prm-gradient);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 10px;

    box-shadow: 1px 1px 2px black;
    transform: skew(25deg) translateX(300px);
}

.answer.set {
    animation: answersSet .5s ease-in forwards;
}

.answer.set:nth-child(2) {
    animation-delay: .1s;
}

.answer.set:nth-child(3) {
    animation-delay: .2s;
}

.answer.set:nth-child(4) {
    animation-delay: .3s;
}

.answer.unset {
    /* Adding the transform prevents the animation from flickering by making it a default value rather than a result of an animation */
    transform: skew(25deg) translateX(0);
    animation: answersUnset .5s ease-in forwards;
}

.answer.unset:nth-child(2) {
    animation-delay: .2s;
}

.answer.unset:nth-child(3) {
    animation-delay: .3s;
}

.answer.unset:nth-child(4) {
    animation-delay: .4s;
}

.answer span {
    position: absolute;
    top: 17.5%;
    left: 7.5%;

    color: white;
    font: var(--h-font);
    text-align: center;
    font-size: 1.75rem;
    transform: skew(-25deg);
    pointer-events: none;
}

.answer:hover {
    background: var(--accent-clr);
}

.answer.disabled {
    background: rgb(125, 125, 125);
    pointer-events: none;
}

.answer.correct {
    background: green !important;
}

.answer.incorrect {
    background: red !important;
}

/* --------------------------------------------------------------------------------- Marketing */

#marketing {
    position: relative;
    width: 96%;
    margin: 2.5rem auto 0;
}

#marketing img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    border: 2px solid var(--prm-clr);
}

.marketing-badge {
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--accent-clr);
    rotate: -25deg;
    border-radius: 50%;
}

.marketing-badge h2 {
    text-align: center;
    letter-spacing: .1rem;
    line-height: 1.1rem;
    color: white;
}

.marketing-title {
    position: absolute;
    top: 50%;
    left: 6.5%;
}

.marketing-title h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 0 0 2px var(--accent-clr);
}

.marketing-text {
    background-color: white;
    min-height: 5rem;
    width: 100%;
    margin-top: -.3rem;
    border-radius: 0 0 20px 20px;
    border: 2px solid var(--prm-clr);
    border-top: none;
}

/* --------------------------------------------------------------------------------- Booking Buttons */
#booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem auto;
}

.school-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
    max-width: 100%;
}

.school-level-options {
    display: flex;
    justify-content: space-between;
    margin: 1rem .5rem;
}

.sch-lvl-rd label,
.sch-yr-rd label {
    padding: .5rem 1rem;
    margin: 0 1rem;

    font-weight: bold;
    letter-spacing: .1rem;
    color: white;

    background-color: var(--prm-clr);
    border: 2px solid transparent;
    border-radius: 20px;
}

.sch-lvl-rd input,
.sch-yr-rd input {
    display: none;
}

.sch-lvl-rd input[type=radio]:checked+label {
    background-color: white;
    color: black;
    border: 2px solid var(--prm-clr);
}

.school-year {
    display: flex;
    flex-direction: column;
}

.school-year select {
    font: var(--h-font);
    border: 2px solid var(--accent-clr);
    padding: .25rem 1rem;
    border-radius: 20px;
}

.school-year select:focus {
    background-color: var(--accent-clr);
    color: white;
    border: 2px solid var();
    outline-color: var(--accent-clr);
}

.sch-yr-rd {
    margin: 1rem;
}

.sch-yr-rd label {
    background-color: var(--accent-clr);
}

.sch-yr-rd input[type=radio]:checked+label {
    background-color: white;
    color: var(--prm-clr);
    border: 2px solid var(--prm-clr);
}

/* --------------------------------------------------------------------------------- Booking Cards */
#activity-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin: .5rem auto;
}

.activity-card[data-type="template"] {
    display: none;
}

.activity-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: .5rem .6rem;
    margin: .5rem 0;
    background-color: white;
    border: 2px solid var(--prm-clr);
    border-radius: 20px;
}

.activity-card * {
    margin: .25rem 0;
}

.activity-card h4 {
    font-size: 1.15rem;
    text-align: center;
}

.activity-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-info span {
    text-align: end;
}

.tutor {
    justify-content: space-around;
}

.tutor-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.attribution {
    font-size: .5rem;
}

.tutor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutor-info * {
    text-align: center;
}

.activity-submit {
    margin: .25rem auto;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--prm-clr);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.no-class-card {
    margin: 1rem auto;
    display: none;
    flex-direction: column;
    width: 96%;
}

.no-class-card h5 {
    margin-top: .5rem;
    font-size: 1.25rem;
}

#booking-cart-container {
    opacity: 0;
    display: none;
    flex-direction: column;
    width: 80%;
    padding: .5rem .6rem;
    margin: .5rem 0;
    background-color: white;
    border: 2px solid var(--prm-clr);
    border-radius: 20px;
    transform-origin: top;
    animation: showCart 1s ease-in forwards;
}

#booking-cart-container.submitted > * {
    transform: translateZ(-320px);
    opacity: 0;
    transition: transform 1s forwards;
}

#booking-cart-container h3 {
    text-align: center;
}

.booking-cart {
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--prm-clr);
    border-bottom: 2px solid var(--prm-clr);
    max-height: 8rem;
    overflow-y: scroll;
}

.selected-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-class i {
    margin-top: .1rem;
    font-size: 1.25rem;
}

.booking-cart-total {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.booking-cart-total * {
    font-weight: bold;
}

.booking-cart-submit {
    margin: .25rem auto;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--accent-clr);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

/* --------------------------------------------------------------------------------- Newsletter Form */
#newsletter-form {
    width: 96%;
    margin: 0 auto 1.25rem;
    padding: .5rem 1rem;
    background: var(--prm-gradient);
    color: white;
    border-radius: 20px;
}

#newsletter-form,
#newsletter-form form {
    display: flex;
    flex-direction: column;
}

#newsletter-form h3 {
    font-size: 1.5rem;
    margin: .5rem 0;
}

#newsletter-form form {
    padding: .5rem;
    margin: .5rem 0;
    background-color: white;
    border-radius: 10px;
}

#newsletter-form form * {
    font: var(--t-font);
    font-size: .9rem;
}

#newsletter-form input,
#newsletter-form select {
    border: none;
    background-color: #0084ff;
    color: white;
    margin: .5rem;
    padding: .5rem;
    border-radius: 20px;
}

#newsletter-form input::placeholder {
    color: white;
    opacity: 1;
}

#newsletter-form input:focus,
#newsletter-form select:focus {
    outline-color: var(--accent-clr);
}

#newsletter-form legend,
#newsletter-form label,
#newsletter-form option:first-child {
    display: none;
}

#newsletter-form .form-buttons {
    margin: 1rem auto;
}

#newsletter-form button {
    margin: 0 1rem;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--prm-clr);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#newsletter-form button[type=reset] {
    background-color: #ddd;
    color: var(--accent-clr);
}

/* --------------------------------------------------------------------------------- Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1rem;
    font-family: "Lexend", sans-serif;
    font-weight: 600;

    background-color: #fff;
    box-shadow: 0 -2px 5px 1px rgba(88, 88, 88, 0.603);
}

#full-logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo-image img {
    width: 25vw;
}

.logo-text {
    margin-left: .5rem;
}

.logo-text span {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
}

#social-media {
    margin-bottom: 1rem;
}

.fa-brands {
    color: var(--accent-clr);
    font-size: 3rem;
    margin: 0 1rem;
}

#legal {
    width: 100vw;
    padding: 1rem;
    background-color: var(--prm-clr);
    color: white;
    display: flex;
    justify-content: space-between;
}

#modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
}

.legal-text-container {
    margin-top: 1rem;
    max-height: calc(100% - 2rem);
    overflow-y: scroll;
}

.legal-text-container ul {
    padding: 0 1.5rem;
}

.legal-button {
    cursor: pointer;
}

#modal-container .modal-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
}

#modal-container .modal {
    max-height: 100%;
    position: relative;
    padding: 1rem;
    margin: 0 .5rem;

    border-radius: 20px;
    background: white;
}

#modal-container h2 {
    text-align: center;
}

#modal-container.active {
    transform: scale(1);
}

#modal-container.active .modal-background {
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active .modal {
    background-color: transparent;
    animation: modalFadeIn 0.6s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active h2,
#modal-container.active p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.5s .4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.active.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active.out .modal {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active.out .modal h2,
#modal-container.active.out .modal p {
    animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* --------------------------------------------------------------------------------- Keyframes */
@keyframes onePulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(0, 86, 255, .3);
    }

    50% {
        box-shadow: 0px 0px 0px 12px rgba(0, 86, 255, .1);
    }

    100% {
        box-shadow: 0px 0px 0px 4px rgba(0, 86, 255, .3);
    }
}

@keyframes fadeInItem {
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: white;
    }
}

@keyframes modalFadeOut {
    0% {
        background-color: white;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
    }

    100% {
        opacity: 0;
        top: -20px;
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }

    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes count {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hideCountdown {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes hideCountdownDiv {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes answersSet {
    0% {
        transform: skew(25deg) translateX(300px);
    }

    100% {
        transform: skew(25deg) translateX(0);
    }
}

@keyframes answersUnset {
    0% {
        transform: skew(25deg) translateX(0);
    }

    10% {
        transform: skew(25deg) translateX(-10px);
    }

    100% {
        transform: skew(25deg) translateX(300px);
    }
}

@keyframes showCart {
    0% {
        transform: scaleY(0);
    } 
    50% {
        transform: scaleY(1);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}